* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: PaleVioletRed;

  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

.center {
  text-align: center;
}

.wrapper {
  background-color: white;
  border-radius: 4pt;
  box-shadow: 0 0 8pt rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.tasks {
  margin-top: 10px;
  display: grid;
  grid-gap: 10px 5px;
  align-items: center;
  grid-template-columns:
    max-content minmax(100px, max-content)
    auto;
}

.task {
  display: contents;
}
